@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

html, body {
    height: 100%; /* Ensure the page takes full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.header {
    position: fixed; /* Make the header fixed position */
    top: 40%;
    bottom: 0; /* Align it to the bottom */
    left: 0; /* Align it to the left */
    width: 100%; /* Make it span the full width of the viewport */
    border: 1px solid blue;
    display: flex;
    justify-content: space-around; /* Distribute space evenly around the items */
    align-items: center;
}

.myIcons {
    font-size: 100px; /* Adjust icon size as needed */
}

.text {
    font-size: 300px;
    font-family: 'Honk';
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 88px); /* Height minus the header height */
    margin: 0;
}
