@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.header{
    border: 1px solid blue;
    height:88px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.myIcons{
    font-size:100px;
}
.text{
    font-size: 50px;
    font-family: 'Honk';
}